name: Run all scripts and update the repo

on:
  workflow_dispatch:
  push:
  schedule:
    - cron: '0 0 * * *'

env:
  toolchain_mark: 6
  build_mark: 5

jobs:
  run_and_update_results:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout SerenityOS/serenity
        uses: actions/checkout@v2
        with:
          repository: SerenityOS/serenity
          path: serenity

      - name: Deepen Serenity clone
        run: |
          git -C serenity fetch --depth=2000 origin master
      
      - name: Cache ccache for Serenity build
        id: serenity-ccache
        uses: actions/cache@v2
        with:
          path: /home/runner/.ccache
          key: ${{ runner.os }}-serenity-ccache-run-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-serenity-ccache-
          
      - name: Cache Serenity Toolchain
        id: serenity-toolchain
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/serenity/Toolchain
          key: ${{ runner.os }}-serenity-toolchain-${{ env.toolchain_mark }}-run-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-serenity-toolchain-${{ env.toolchain_mark }}-

      - name: Cache Serenity build directory
        id: serenity-build
        uses: actions/cache@v2
        with:
          path: ${{ github.workspace }}/serenity/Build
          key: ${{ runner.os }}-serenity-build-${{ env.build_mark }}-run-${{ github.run_id }}
          restore-keys: ${{ runner.os }}-serenity-build-${{ env.build_mark }}-

      - name: Install Serenity build dependencies
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt-get update -y
          sudo apt-get install -y ccache e2fsprogs gcc-12 g++-12 libstdc++-12-dev libmpfr-dev libmpc-dev ninja-build qemu-utils qemu-system-i386 unzip

      - name: Install local script dependencies
        run: |
          sudo apt-get install -y jq bc gnuplot
          sudo snap install scc

      - name: Check versions
        run: set +e; scc --version; g++ --version; g++-12 --version; ninja --version; ccache --version; qemu-system-i386 --version; bc --version

      - name: Run LoC script
        run: |
          bash scripts/loc.sh

      - name: Build Serenity
        run: |
          set -e; bash scripts/build.sh

      - name: Run benchmarks
        run: |
          set -e; bash scripts/benchmark.sh

      - name: Drop Serenity Toolchain/Build
        run: |
          rm -fr serenity/Toolchain/Build

      - name: Update persistent data
        run: |
          git -C serenity rev-parse master > misc/last_commit

      - name: Push back to origin
        run: |
          git config --global user.name BuggieBot
          git config --global user.email buggiebot@serenityos.org
          git commit -am "Update data"
          git push
